@import url('https://fonts.googleapis.com/css?family=Gabriela|Orbitron');
@font-face {
    font-family: 'digital7_mono';
    src: url('../fonts/digital7_mono.eot');
    src: url('../fonts/digital7_mono.eot') format('embedded-opentype'),
         url('../fonts/digital7_mono.woff2') format('woff2'),
         url('../fonts/digital7_mono.woff') format('woff'),
         url('../fonts/digital7_mono.ttf') format('truetype'),
         url('../fonts/digital7_mono.svg#digital7_mono') format('svg');
}
/* ==================================================
Basic Settings
================================================== */
body {
    font-size: 16px;
    min-width: 320px;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
    padding: 0;
    margin: 0;
}
/* ==================================================
Main Section
================================================== */
.wrapper {
    background: #EBF2F6;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.wrCalc {
    display: flex;
    flex: 1;
	flex-direction: column;
	justify-content: center;
    background-color: #EBF2F6;
}

.calc {
	height: 400px;
	width: 300px;
    background-color: #FFFFFF;
    padding: 30px 15px;
    border-radius: 10px;
    position: relative;
	margin-left: auto;
    margin-right: auto;
	box-sizing: border-box;
}

.td {
	margin: 0;
	padding: 0;
}

.display {
    background-color: #FFFFFF;
    color: #756F6F;
    min-width: 230px;
    min-height: 10px;
    text-align: right;
    font-size: 20px;
    border: none;
}

.btn {
    font: 25px 'Orbitron', sans-serif;
    background-color: #FFFFFF;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    color: #666;
    transition: all .4s;
    width: 50px;
    height: 50px; 
    padding: 5px;
    text-align: center;
    border: 2px solid #eaeaea;
    cursor: pointer;
    outline: none;
    user-select: none;
 }

.btn-wide {
	height: 50px;
	width: 115px;
    font: 25px 'Orbitron', sans-serif;
    background-color: #D2A5A5;
    border-radius: 5px;
    color: #666;
    padding: 15px;
    user-select: none;
    outline: none;
}

.number {
	background-color: #EBF2F6;
}

.ce, .decimal, .operation {
	background-color: #D2A5A5;
}

.wrText{
	background-color: #EBF2F6;
	display: flex;
    flex: 1;
	flex-direction: column;
	justify-content: center;
}

.text{
	background-color: #EBF2F6; 
	top: 50%;
}

.h1 {
    font: 40px 'Gabriela', sans-serif;
    text-transform: capitalize;
    text-align: left;
    color: #FFFFFF;
    margin: 0px;
    padding: 10vh 20px 20px;
    color: #756F6F;
}

.h3 {
    font: 30px 'Gabriela', sans-serif;
    text-align: left;
    color: #FFFFFF;
    margin: 0px;
    padding: 0vh 20px 30px;
    color: #756F6F;
}